<html>
<head>
    <script type="text/javascript" src="views/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="views/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="views/js/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="views/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="views/css/datatables.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <title>Nodejs Image Viewer</title>
    <div class="container text-center" style="margin-top: 5em">
        <#these_titles#>
    </div>
    <script>
        $(document).ready(function() {
            $('#myqueries').DataTable();
        } );
    </script>
</body>
</html>